@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, iframe {
    max-width: 100%;
}


body {
    font-family:Arial, Helvetica, sans-serif;
}

.contact-header {
    background: linear-gradient(to right, hsl(0, 50%, 61%), hsl(0, 50%, 35%));
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40px;
    font-size: 0.9rem;
}

.fa {
    color: #f4f4f4;
}

.contact-header span {
    margin-left: 30px;
}

.contact-header a {
    text-decoration: none;
    color: #f4f4f4;
}

header {
    height: 280px;
    background: url("./img/toronto-bg.png") center/cover;
    position: relative;
}

.navbar-nav li {
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-nav {
    font-weight: 500;
}

.bg-oresta {
    background: #dbe8e8;
}

/* section 1 */

.section {
    border-bottom: 2px solid lightgray;
}

.intro-section img {
    width: 250px;
}





/* footer section */

.footer-section {
    background: hsl(0, 50%, 25%);
}

.footer-section h5 {
    color: c2c2c2;
}

.footer-section a {
    text-decoration: none;
    color: #c2c2c2;
}