@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --OK_BLACK: #000000;
    --OK_MOSS: #A4C7BC;
    --OK_BLANC: #E6E6E6;
    --OK_BLUE: #2F4857;
    --OK_WHITE: #FFFFFF;
}

img, iframe {
    max-width: 100%;
}


body {
    font-family: 'Montserrat', sans-serif !important;
}

.contact-header {
    background: var(--OK_BLUE);
    height: 40px;
    font-size: 0.9rem;
}

.contact-header a, .fab, .fa {
    text-decoration: none;
    color: #f4f4f4;
    cursor: pointer;
}

.contact-header img {
    max-width: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 280px;
    background: url("./img/oresta_banner_blank.jpg") center/cover;
    /* position: relative; */
}

header img {
    max-height: 100%;
}

.header-left {
    display: flex;
    min-width: fit-content;
}

.header-right {
    /* background: rgba(164, 199, 188, 0.5); */
    background: rgba(0, 0, 0, 0.4);
    width: 300px;
    height: fit-content;
    border-bottom-left-radius: 10px;
}


.contact-box {
    text-align: center;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--OK_BLACK);
    font-size: 3rem;
    font-weight: 500;
    color: var(--OK_BLUE);
    height: fit-content;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

.contact-box span:nth-child(2) {
    font-size: 2rem;
}

/* navbar */

.navbar-nav li {
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-nav {
    font-weight: 500;
}

.bg-oresta {
    background: var(--OK_MOSS);
}


/* section 1 */

#intro img {
    width: 250px;
}


/* LISTINGS SECTION */

.listing {
    background: url("./img/property_1.jpeg") center/cover;
}

.image-wrapper {
    background: yellow;
    position: relative;
}

#listings img {
    cursor: pointer;
    transition: 1s;
    width: 100%;
}

#listings img:hover {
    transform: scale(1.2);
}

.property-description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55px;
    background: rgba(0, 0, 0, 0.5);
    color: #f4f4f4;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.property-description .rooms {
    font-weight: bold;
}

.property-description .address {
    font-size: small;
}

.property-description .price {
    font-weight: bold;
}


/* TESTIMONIALS */

/* #testimonials {
    background: rgb(240, 240, 240);
} */


/* ABOUT ME */

#about-me img {
    width: 250px;
}


/* FOOTER SECTION */

.footer-section {
    background: hsl(0, 6%, 14%);
}

.footer-section h5 {
    color: c2c2c2;
}

.footer-section a {
    text-decoration: none;
    color: #c2c2c2;
}

.footer-section img {
    max-width: 50px;
}